<!DOCTYPE html>
<html>
    <head>
        <title>Stormi.tv</title>
        <link href="/static/base.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    {% block body %}
    {% endblock %}
    </body>
</html>